body{
    font-family: serif;
    background: #8E0E00;
}

#container{
    width: 300px;
    height: 500px;
    background: #f7f7f7;
    border-radius: 20px;
    margin: 100px auto;
}

h1{
    background: #000;
    color: white;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 10px 10px 60px;
    /* text-decoration: underline; */
    text-transform: uppercase;
}

p{
    padding-left: 20px;
    font-size: 16px;

}

form input[type="text"]{
    width: 100px;
}
input{
    padding: 10px;
}

#billamt{
    width: 60%;
    font-size: 14px;
    background:#f7f7f7;
    padding: 5px auto;
    color: blue;
}

#billamt:focus{
    background: white;
}
#service{
    font-size: 20px;
    padding: 10px 10px 20px 20px;
    margin-left: 20px;
}

#peopleamt{
    width: 60%;
    font-size: 14px;
    background: #f7f7f7;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
}
button{
    width: 170px;
    height: 50px;
    background-color: #000;
    color: white;
    font-size: 20px;
    margin: 30px auto;
    display: block;
    text-transform: uppercase;
}

#totaltip{
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totaltip:before{
    content: "Total Tip";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: black;
}

#totaltip sup{
    font-size: 20px;
    top: -18px;
}
#totaltip small{
    font-size: 20px;
    font-weight: bold;
    display: block;
}
